/* Footer */
.footer {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 3rem;
     gap: 120px; /* Mengatur jarak antara kolom */
}

.cls {
    margin-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.custom-link {
    color: inherit; /* Menggunakan warna teks yang diwarisi dari parent */
    text-decoration: none; /* Menghilangkan garis bawah */
  }
  .my-image {
    background-image: url('../../../public/image/download.jpeg');
    /* Atur properti CSS lainnya seperti background-size, background-repeat, dsb. */
  }
  


/* End Footer */
