/* body {
  background-color: #ffffff;
  color: #fff;
  font-family: "Khula", sans-serif;
} */
.about-help{
  font-weight: bold;
  padding-top: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
}
nav{
  background-color: salmon;
  height: 60px;
  width: 1530px;
  margin-top: -10px;
  margin-left: -10px;
  display: flex; 

}

h1{
  margin-left: 40px;
  color: white;
  font-size: 30px;
  margin-top: 15px;
}
input{
  margin-top: 13px;
  width: 450px;
  border-radius: 5px;
margin-left: 130px;
}
a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
button{
  border-radius: 5px;
  margin-top: -4px;
  background-color: rgb(157, 255, 186);
  width: 80px;
  margin-left: 40px;
}
button:hover{
  background-color: rgba(157, 255, 186, 0.595);
}

.img-banner{
width: 1000px;
margin-left: 250px;
}
.img-card-home1{
  width: 200px;
  margin-left: 15px;
}
.kategori1{
  background-color: #ff967e;
  width: 220px;
  border-radius: 20px;
  margin-left: 110px;
}
.nav-button{
  margin-left: 330px;
  margin-top: 19px;
}.button-beli{
  background-color: rgb(132, 237, 132);
}
.button-beli:hover{
  background-color: antiquewhite;
}
.card1-keranjang{
  background-color: #ff967e;

}
.card1-keranjang:hover{
  background-color:#f2caba ;
}